.searchFunctions{
    margin-bottom: 20px;
}

.navbarStyling{
    background-color: rgb(59, 57, 57);
}

.navStyling{
    color:white !important;
}

.navBoxStyling{
    color: black !important;
}

.mainBody {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;
    background-color: white;
  }

.twoDivContainer{
    overflow: hidden;
    margin-left:250px;
    margin-right:250px;
    margin-top:40px;
    margin-bottom:50px;
}

.divOneForm{
    overflow:hidden;
    text-align:center;
    height:725px;
    width:225px;
    min-height:350px;
    min-width:112.5px;
    float:left;
    background-color:lightgrey;
}

.divTwoDisplay{
    overflow:hidden;
    text-align:center;
    height:725px;
    min-height:181.25px;
    width:1150px;
    min-width:287.5;
    float:right;
    background-color:lightgrey;
}

.imageDisplay{
    margin-top:130px;
    height:500px;
    width:750px;
    float:left;
}

.formatting{
    margin-left:400px;
    width:200px;
    float: left;
}

.alertText{
    color:red;
}

.manufacturerInput{
    margin:auto;
}

.displacementInput{
    margin-bottom:15px
}

.horsepowerInput{
    margin-bottom:15px
}

.previewHeadingFormat{
    margin-bottom:14px;
}

.priceInput{
    margin-bottom:15px
}

.spacing{
    clear:both;
}

.clearFooter{
    clear:both;
    margin-top:30px;
}

.creationHeading{
    margin-top:20px;
    margin-bottom:30px;
}

.creationContainer{
    width: 300px;
    float: left;
    height: 800px;
    background-color: lightgrey;
}

.creationDisplayContainer{
    width: 300px;
    float: right;
    height: 800px;
    background-color: lightgrey;
}

.peopleImage{
    width:426px;
    height:240px;
}

.peopleBox{
    width:20%;
    display:inline-block;
}

.textDisplay{
    margin-top:35px;
    margin-bottom:40px;
    height:380px;
    width:400x;
    float:left;
}

.presetText{
    margin-top:70px;
    float:left;
    margin-right:10px;
    width:190px;
    text-align:right;
}

.newText{
    margin-top:70px;
    float:right;
    width:190px;
    text-align:left;
}

.previewTextFormatting{
    min-height:20px;
    min-width:190px;
    overflow:auto;
    height:41px;
    margin-top:20px;
    margin-bottom:20px;
}

.motorcycleLicense{
    margin-bottom:15px;
}

.licenseInput{
    margin-bottom:15px;
}

  .footerStyling{
    background-color: rgb(59, 57, 57);
    width:auto;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }
